body {
    background: #f0eff2;
}

@media screen and (max-width: 1399px) {
    .content {
        margin: 0 auto;
        padding: 60px 0;
        width: 675px;
    }

    .nav {
        width: 100%;
        margin-top: 30px;
        background: #fff;
        border-radius: 8px;
    }

    .nav__list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 0;
    }

    .nav__item {
        height: 45px;
        margin: 0 18px;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .nav__item form {
        margin: 0;
        padding: 0;
    }

    .nav__btn {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #737373;
    }

    .nav__btn img {
        width: 15px;
        opacity: 0.3;
        margin: 0 6px;
    }

    .nav__btn--next {
        rotate: 180deg;
    }

    .nav__item--date {
        font-size: 15px;
        font-weight: bold;
        color: #000;
    }

    .nav__item--date img {
        width: 18px;
        margin: 0 6px;
    }

    .content__download {
        width: 100%;
        display: flex;
        justify-content: right;
        margin: 30px 0;
    }

    .content__download--btn {
        width: 138px;
        height: 38px;
        font-size: 16px;
        border-radius: 4px;
        font-weight: bold;
        background: #000;
        color: #fff;
    }
}

@media screen and (min-width: 1400px) {
    .content {
        margin: 0 auto;
        padding: 80px 0;
        width: 900px;
    }

    .nav {
        width: 100%;
        margin-top: 40px;
        padding: 0;
        background: #fff;
        border-radius: 10px;
    }

    .nav__list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 0;
    }

    .nav__item {
        height: 60px;
        margin: 0 24px;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .nav__item form {
        margin: 0;
        padding: 0;
    }

    .nav__btn {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #737373;
    }

    .nav__btn img {
        width: 20px;
        opacity: 0.3;
        margin: 0 8px;
    }

    .nav__btn--next {
        rotate: 180deg;
    }

    .nav__item--date {
        font-size: 20px;
        font-weight: bold;
        color: #000;
    }

    .nav__item--date img {
        width: 25px;
        margin: 0 8px;
    }

    .content__download {
        width: 100%;
        display: flex;
        justify-content: right;
        margin: 40px 0;
    }

    .content__download--btn {
        width: 184px;
        height: 50px;
        font-size: 22px;
        border-radius: 5px;
        font-weight: bold;
        background: #000;
        color: #fff;
    }
}
